body {
  margin: 0;
}

body {
  font-family: "DM Sans", sans-serif;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

@keyframes slide-in-blurred-top {
  0% {
    -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
    transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
@keyframes slide-out-blurred-top {
  0% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
    transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-1000px) scaleY(2) scaleX(0.2);
    transform: translateY(-1000px) scaleY(2) scaleX(0.2);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
}
.photograph-header {
  background-color: #FAFAFA;
  height: 300px;
  margin: 0 100px;
}

.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901C1C;
  border-radius: 5px;
  cursor: pointer;
}
.contact_button:hover {
  color: black;
  background-color: #DB8876;
}
.contact_button:focus {
  color: black;
  background-color: #DB8876;
}
.contact_button--sent:hover {
  background-color: #FAFAFA;
  color: #901C1C;
}

#CTA {
  display: flex;
  width: 326px;
  padding: 0% 3%;
  border-radius: 5px;
  justify-content: space-between;
  position: fixed;
  right: 3%;
  bottom: -1%;
  background-color: #DB8876;
  font-size: 24px;
  color: black;
}
#CTA_likes {
  display: flex;
  flex-direction: row-reverse;
}
#CTA_total-like {
  align-self: center;
}
#CTA_heart {
  width: 24px;
  margin-left: 5%;
}

#filter {
  display: flex;
  margin-left: 4%;
}

.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown__label {
  font-size: 18px;
  font-weight: 700;
  margin-right: 2%;
  align-self: center;
}
.dropdown__btn {
  background: url(/assets/icons/dropdown-close.svg) no-repeat right;
}
.dropdown__btn--open {
  background: url(/assets/icons/dropdown-open.svg) no-repeat right;
}
.dropdown--remove {
  display: none;
}
.dropdown button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901C1C;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  border-radius: 0%;
  font-size: 18px;
  width: 170px;
  height: 69px;
  font-weight: 600;
}
.dropdown button:hover {
  color: black;
  background-color: #DB8876;
}
.dropdown button:focus {
  color: black;
  background-color: #DB8876;
}
.dropdown__content {
  display: none;
  position: absolute;
  z-index: 1;
}

.show {
  display: block;
}

#logo:focus-visible {
  outline: solid 0.125em #DB8876;
  background-color: white;
  box-shadow: 0.2em 0.1em 0.3em #525252;
  border-radius: 2%;
}

.logo {
  height: 50px;
  margin-left: 100px;
  padding: 1%;
}

#photograph-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: #FAFAFA;
  margin: 4%;
  padding: 4% 0;
}

.photographe-profile {
  display: flex;
}

.profile {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 2%;
}
.profile_header {
  font-size: 64px;
  color: #D3573C;
  padding: 0;
  margin-bottom: 1%;
  width: 100%;
}
.profile_subtitle {
  font-size: 24px;
  color: #901C1C;
  margin: 1% 0;
}
.profile p {
  color: #525252;
  margin: 2% 0;
}

.imageUser {
  height: 200px;
  width: 200px;
  border-radius: 100px;
  object-fit: cover;
  box-shadow: 5px 5px 12px 0px rgba(81, 76, 64, 0.66);
}

.thumb {
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 20%;
  margin: 2%;
  padding: 1%;
}
.thumb_link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  align-items: center;
  padding: 0% 8%;
}
.thumb_name {
  color: #D3573C;
  font-size: 36px;
  margin-bottom: 0;
}
.thumb_img {
  height: 200px;
  width: 200px;
  border-radius: 100px;
  object-fit: cover;
  box-shadow: 5px 5px 12px 0px rgba(81, 76, 64, 0.66);
}
.thumb_details {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 8%;
}
.thumb_city {
  margin: 0;
  color: #901C1C;
}
.thumb_tagline {
  font-size: 12px;
  margin-bottom: 1%;
  margin-top: 1%;
}
.thumb_price {
  font-size: 12px;
  margin: 0;
  margin-top: 1%;
  color: #757575;
}

.thumb:focus-visible {
  outline: solid 0.125em #DB8876;
  background-color: white;
  box-shadow: 0.2em 0.1em 0.3em #525252;
  border-radius: 2%;
}

#grid {
  display: flex;
  flex-wrap: wrap;
  margin: 4%;
  justify-content: space-between;
}

.grid_wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 0%;
  padding-top: 2%;
}
.grid_wrapper:first-child {
  margin-left: 0;
}

.grid_thumb {
  display: flex;
  flex-direction: column;
  width: 350px;
  margin: 3.6%;
  font-size: 14px;
  color: #901C1C;
  margin-bottom: 7%;
}
.grid_thumb_image {
  width: 350px;
  height: 300px;
  object-fit: cover;
  border-radius: 5px;
  object-position: top 5px;
  cursor: pointer;
}
.grid_thumb_video {
  width: 350px;
  height: 300px;
  object-fit: cover;
  border-radius: 5px;
  object-position: top 5px;
  cursor: pointer;
}
.grid_thumb_details {
  display: flex;
  justify-content: space-between;
}
.grid_thumb_likes {
  padding: 0%;
  display: flex;
  border: none;
  color: #901C1C;
  background-color: transparent;
  cursor: pointer;
}
.grid_thumb_likes_number {
  align-self: center;
  margin-right: 2%;
  font-weight: 600;
}
.grid_thumb_likes_button {
  width: 15px;
  align-self: center;
}

.photographer_section {
  display: flex;
  flex-wrap: wrap;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 70px;
  margin-top: 100px;
  margin-bottom: 100px;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}

h1 {
  color: #901C1C;
  margin-right: 100px;
  padding: 1%;
}
h1:focus-visible {
  outline: solid 0.125em #DB8876;
  background-color: white;
  box-shadow: 0.2em 0.1em 0.3em #525252;
  border-radius: 2%;
}

#contact_modal {
  position: fixed;
  top: 0px;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: none;
  bottom: -1500px;
  background-color: rgba(196, 196, 196, 0.4);
  -webkit-animation: slide-in-blurred-top 0.05s cubic-bezier(0.23, 1, 0.32, 1) both;
  animation: slide-in-blurred-top 0.05s cubic-bezier(0.23, 1, 0.32, 1) both;
}

.no-scroll {
  overflow: hidden;
}

.modal {
  background-color: #DB8876;
  border-radius: 5px;
  box-shadow: 5px 5px 15px 5px #312E2E;
  color: black;
  width: 50%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: 4% auto;
  animation: slide-in-blurred-top 1.25s cubic-bezier(0.23, 1, 0.32, 1) both;
}
.modal_header {
  justify-content: space-between;
  width: 100%;
  height: max-content;
}
.modal_title {
  font-size: 64px;
  font-weight: normal;
  text-align: left;
  margin: 0;
}
.modal img {
  cursor: pointer;
}
.modal_form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}
.modal_form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}
.modal_form_label {
  font-size: 36px;
  color: #312E2E;
}
.modal_form_input {
  font-size: 24px;
  border-radius: 5px;
  width: 100%;
  height: 68px;
  border: none;
}
.modal_form_input--long {
  height: 170px;
  word-wrap: normal;
  overflow-y: scroll;
}
.modal_form span {
  font-size: 20px;
  color: #901C1C;
}

.validForm {
  margin: 20% 8%;
  text-align: center;
  font-size: 80px;
}
.validForm p {
  font-size: 40px;
  margin: 0;
}

.lightbox {
  display: none;
  background-color: white;
  position: fixed;
  top: 0px;
  width: 100vw;
  height: 100vh;
  transition: opacity 0.3s;
}
.lightbox.fadeOut {
  opacity: 0;
}
.lightbox__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}
.lightbox__title {
  position: fixed;
  bottom: 2vh;
  left: 25vw;
  color: #901C1C;
}
.lightbox__image {
  height: 80vh;
  box-shadow: 5px 1px 7px #555;
}
.lightbox__btn__close {
  z-index: 1000;
  width: 100px;
  position: fixed;
  top: 2%;
  right: 2%;
  cursor: pointer;
}
.lightbox__btn__next {
  z-index: 1000;
  width: 100px;
  height: 100px;
  border: none;
  position: fixed;
  top: 50%;
  right: 4%;
  cursor: pointer;
  background: no-repeat url(../assets/icons/arrow-next.svg);
}
.lightbox__btn__prev {
  z-index: 1000;
  width: 100px;
  height: 100px;
  border: none;
  position: fixed;
  top: 50%;
  left: 4%;
  cursor: pointer;
  background: no-repeat url(../assets/icons/arrow-prev.svg);
}

/*# sourceMappingURL=style.css.map */
