header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}

h1 {
  color: $color-primary-1;
  margin-right: 100px;
  padding: 1%;
  &:focus-visible {
    @include focus;
  }
}
