#photograph-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: $color-secondary-3;
    margin:4% 6%;
}
.photographe-profile{
    display: flex;
}
.profile{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 2%;
    &_header{
        font-size: 64px;
        color: $color-primary-2;
        padding: 0;
        margin-bottom: 1%;
    }
    &_subtitle{
        font-size: 24px;
        color: $color-primary-1;
        margin: 1% 0;
    }

    & p{
        color: $color-secondary-2;
        margin: 2% 0;
    }
}

.imageUser{
    @include imageUser;
}