.thumb{
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 20%;
    margin: 2%;
    padding: 1%;
    &_link{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-decoration: none;
        align-items: center;   
    }
    &_name{
        color: $color-primary-2;
        font-size: 36px;
        margin-bottom: 0;
    }
    &_img{
        @include imageUser;
    }
    &_city{
        margin:0;
        color: $color-primary-1;
    }
    &_tagline{
        font-size: 10px;
        margin-bottom: 1%;
        margin-top: 1%;
    }
    &_price{
        font-size: 9px;
        margin: 0;
        margin-top: 1%;
        color: #757575;
    }
}
.thumb:focus-visible{
    @include focus;
}