#grid{
    display: flex;
    flex-wrap: wrap;
    margin: 4%;
    justify-content: space-between;
}

.thumbImg{
    display: flex;
    flex-direction: column;
    width: 350px;
    justify-content: space-between;
    font-size: 14px;
    color: $color-primary-1;
    &_details{
        display: flex;
        justify-content: space-between;
    }
    &_likes{
        padding: 0%;
        display: flex;
        border: none;
        color: $color-primary-1;
        background-color: transparent;
        &_number{
            align-self: center;
            margin-right: 2%;
            font-weight: 600;
        }
        &_button{
            width: 15px;
            align-self: center;
        }
    }
}