#filter{
    display: flex;
    margin-left: 4%;
}
.dropdown{
    position: relative;
    display: inline-block;
    &__label{
        font-size: 18px;
        font-weight: 700;
        margin-right: 2%;
        align-self: center
    }
    &__btn{
        background: url(../assets/icons/dropdown-close.svg) no-repeat right;
        &--open{
            background: url(../assets/icons/dropdown-open.svg) no-repeat right;
        }
    }
    &--remove{
        display: none;
    }
    & button{
        @include button;
        display: block;
        border-radius: 0%;
        font-size: 18px;
        width: 170px;
        height: 69px;
        font-weight: 600;
    }
    &__content{
        display: none;
        position: absolute;
        z-index: 1
    }
}
.show{
    display: block;
}